.banner {
    width: 100%;
    position: relative;
    img {
        max-width: 30rem;
    }

    &__wrapper{
        display: flex;
        background-color: var(--dark-violet);
        padding: 5rem 0;
        position: relative;
        justify-content: space-around;
    }
}